<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VR here VR everywhere">
    <meta name="author" content="that-vr-team">

    <title>Wander Space</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/grayscale.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">The Mission</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">The Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#aboutus">About Us</a>
              </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Wander Space</h1>
          <h2 class="text-white mx-auto mt-2 mb-5" style="opacity: .7;">
            An Educational problem solving VR game for kids using NASA 
            and planetary data simulating realistic space environment to learn, play, grow and connect with space lovers.
          </h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>

    <section class="spacer-1-section text-center">
        <div class="container py-1">
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row mb-2">
          <div class="col-lg-2 offset-lg-5 col-sm-4 offset-sm-4 col-xs-6 offset-xs-3">
              <img src="img/WanderSpace-LogoV6-3.svg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="row pb-1 mt-3">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Award Winning Experience</h2>
            <h6 class="text-white" style="opacity: .8">
              Proud Winner of the <a href="https://2018.spaceappschallenge.org/challenges/universe-beauty-and-wonder/virtual-space-exploration/teams/that-vr-team/project" target="_blank">NASA Space Apps 2018 Sydney Hackathon</a> and Global Nominee.
            </h6>
          </div>
        </div>
        <div class="row pb-4">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Our Mission</h2>
            <h6 class="text-white" style="opacity: .8">
                Wander Space provides an educational, collaborative, problem solving VR experience using 
                real data in order to inspire space exploration in schools, museums and even at home, enabling 
                school children of all ages to interact with other planets and experience the environment on other planets.
            </h6>
          </div>
        </div>
      </div>
    </section>

    <section id="planet" class="planet-section text-center">
        <div class="container py-5">
        </div>
    </section>

    <section id="demo" class="demo-section text-center">
        <div class="container">
          <div class="row pb-4">
            <div class="col-lg-10 offset-lg-1 col-md-12 embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="1280" height="720"
                  src="https://www.youtube.com/embed/J_Sbz30ME0Y" frameborder="0" allowfullscreen>
                </iframe>
           </div>
          </div>
  
          <div class="row pb-4">
            <div class="col-lg-10 offset-lg-1 col-md-12 embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="1280" height="720"
                  src="https://www.youtube.com/embed/QEhe_L3SSTo" frameborder="0" allowfullscreen>
                </iframe>
            </div>
          </div>
          <div class="row pb-4">
              <div class="col-lg-10 offset-lg-1 col-md-12 embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" width="1280" height="720"
                    src="https://www.youtube.com/embed/bL1dkNkD0vk" frameborder="0" allowfullscreen>
                  </iframe>
              </div>
            </div>
          <div class="row py-2">
          </div>
        </div>
    </section>

    <section class="spacer-2-section text-center">
        <div class="container py-2">
        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/mars.png" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Mars</h4>
                  <p class="mb-0 text-white-50">
                    Visit Mars, the cold red planet and the next stop on humanities voyage into the stars.
                    Explore the lower gravity and local geology of what may become a second home.
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="img/moon.jpg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Moon</h4>
                  <p class="mb-0 text-white-50">
                    Bright above us every night, the moon was humanities first step on another world. 
                    Experience how the world around you reacts in low gravity and no atmosphere.
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- About Us Section -->
    <section id="aboutus" class="about-us-section text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-white mb-4">About Us</h2>
              <p class="text-white" style="opacity: .8">
                  We call ourselves "that-vr-team", we're a group of space enthusiasts looking to make an impact. 
                  By creating a seemless VR world for students of all ages we aim to inspire the next generation of
                  Scientists and Engineers to go above and beyond. 
              </p>
            </div>
          </div>
        </div>
    </section>

    <!-- The Team Section -->
    <section id="theteam" class="the-team-section text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-white mb-4">The Team</h2>
              <div class="row">

                <div class="col-lg-4 col-sm-6 text-center my-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="img/monica-in.jpg" alt="">
                    <h3 class="text-white-50">Monica Abed
                      <small>Business Analyst</small>
                    </h3>
                    <p class="text-white-50">Enthusiast in all things Space.</p> 
                    <a href="https://www.linkedin.com/in/monica-abed-5b481327/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>

                <div class="col-lg-4 col-sm-6 text-center my-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="img/michael-in.jpg" alt="">
                    <h3 class="text-white-50">Michael Bauer
                      <small>Space Engineer</small>
                    </h3>
                    <p class="text-white-50">Enthusiast in all things Space.</p> 
                    <a href="https://www.linkedin.com/in/michael-bauer-engineer/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>

                <div class="col-lg-4 col-sm-6 text-center my-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="img/matt-in.jpg" alt="">
                    <h3 class="text-white-50">Matt Cabanag
                      <small>VR Specialist</small>
                    </h3>
                    <p class="text-white-50">Enthusiast in all things Space.</p> 
                    <a href="https://www.linkedin.com/in/mattcau/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>

                <div class="col-lg-4 col-sm-6 text-center my-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="img/chinh-in.jpg" alt="">
                    <h3 class="text-white-50">Chinh Do
                      <small>Game Artist</small>
                    </h3>
                    <p class="text-white-50">Enthusiast in all things Space.</p> 
                    <a href="https://www.linkedin.com/in/chinhkdo/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>

                <div class="col-lg-4 col-sm-6 text-center my-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="img/maryam-in.jpg" alt="">
                    <h3 class="text-white-50">Maryam Abed
                      <small>Business Analyst</small>
                    </h3>
                    <p class="text-white-50">Enthusiast in all things Space.</p> 
                    <a href="https://www.linkedin.com/in/maryamabed/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>

                <div class="col-lg-4 col-sm-6 text-center my-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="img/hayden-in.jpg" alt="">
                    <h3 class="text-white-50">Hayden Munday
                      <small>VR Specialist</small>
                    </h3>
                    <p class="text-white-50">Enthusiast in all things Space.</p> 
                    <a href="https://www.linkedin.com/in/haydenmunday/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>

              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="spacer-1-section text-center">
        <div class="container py-1">
        </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">
            
            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
            <div id="alert"></div>
            <form id="add-subscriber" class="form-inline d-flex" method="POST" action="/add-subscriber">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" name="email" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0 offset-md-2">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">8 Hadenfeld Ave, Macquarie Park, Sydney, NSW 2113</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="mailto:hello@wanderspace.com.au">hello@wanderspace.com.au</a>
                </div>
              </div>
            </div>
          </div>

          <!--
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+61 000 000 000</div>
              </div>
            </div>
          </div>
        </div>
        -->
      </div>
      <div class="row">
          <div class="col-md-12 mb-3 mb-md-0">
            <div class="social d-flex justify-content-center">
              <a href="#" class="mx-2">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="mx-2">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Wander Space 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        
        $("#add-subscriber").submit(function(e) {
            var form = $(this);
            var formData = form.find(":input")
              .filter(function(index, element) {
                  return $(element).val() != '';
              }).serialize();
            $.ajax({
                   type: form.attr('method'),
                   url: form.attr('action'),
                   data: formData,
                   success: function(response){
                    $("#alert").html('<div class="alert alert-success"><strong>Thankyou!</strong> You have been added to our mailing list.</div>');
                    loadData();
                    },
                    fail: function(error){
                      $("#alert").html('<div class="alert alert-warning"><strong>Error '+ error.status + ' ' + error.statusText + '!</strong></div>'); 
                  },
              });
            e.preventDefault();
        });
        
      });
      
    </script>

  </body>

</html>
